*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#fff;
}

:root {
    --radius: 8px;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}

.flex {
    display: flex;
}

.row {
    display: flex;
}

.flex-item {
    width: 100%;
}

.flex-item-one {
    border-top-left-radius: var(--radius);
    /* border-top-left-radius: 0; */
    border-bottom-left-radius: var(--radius);
    background-color: hsl(244, 38%, 16%);
}

.flex-item-two {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: rgb(136, 2, 199);
    padding: 0;
}

.container {
    width: 80%;
    margin: 80px auto;
}

.container-text {
    padding: 3em;
}

.purple {
    color: hsl(277, 64%, 61%);
}

h1 {
    margin-bottom: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
}

.main-para {
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 0.4em;
    margin-bottom: 4em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

img {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    opacity: 0.5;
}

.stat-label {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
}

.stat-value {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 0.1em;
}

@media screen and (max-width: 800px) {
    .flex {
        flex-direction: column-reverse;
    }
    
    .row {
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .flex-item {
        justify-content: space-between;
    }

    .flex-item-one {
        border-top-left-radius: 0;
        border-bottom-right-radius: var(--radius);
    }

    .flex-item-two {
        border-top-left-radius: var(--radius);
        border-bottom-right-radius: 0;
    }

    .stat + .stat {
        margin-top: 2em;
    }
    
    img {
        border-top-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    div {
        text-align: center;
    }

}